html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  font-weight: $normal;
  font-style: normal;
  font-size: 14px;
  color: $gray;

}

#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


