// List reset
%listreset{
    margin: 0;
    padding: 0;
    list-style: none;
}

// Link reset
%linkreset{
    display: block;
    text-decoration: none;
    text-align: center;
}
  

// Bg Cover
%bgCover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// AbsoluteCover
%absoluteCover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
