// Colors

$white: #ffffff;
$gold: #fce38a;
$gray: #333333;
$pink: #f38181;
$gray-lite: #999999;
$gray-white: #e5e5e5;
$blue: #95e1d3;
$gray-input: #cccccc;
$black: black;

// Font

$main-font-stack: 'Montserrat', sans-serif;
$team-font-stack: "Roboto", sans-serif;
$section-font-stack: 'Kaushan Script', cursive;


// Font weight
$light: 300;
$normal: 400;
$bold: 700;
