.banner {
    @extend %bgCover;
    @include center-flex($type: 'all'); 
    min-height: 1000px;
    text-align: center;
    background-image: linear-gradient( rgba(237,137,137,0.9), rgba(245,219,139,0.9)),
                      url(../../images/foto/picture-min.png);
    background-color: $black;
    margin-bottom: 50px;
  
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    .banner{
     background-image: linear-gradient( rgba(237,137,137,0.9), rgba(245,219,139,0.9)),
                       url(../../images/foto/picture@2x-min.png);
    }
  }

