input[type="email"]{
    font-family: "Roboto", sans-serif;
    font-weight: 300i;
    height: 40px;
    width: 230px;
    font-size: 15px;
    line-height: 100%;
    border: 1px solid $gray-input;
    color: $gray-input;
    padding-left: 15px;
  }
  
  input[type="email"]::-webkit-input-placeholder{
    color: $gray-input;
  }