
  
  .service {
    &__item::after{
      content: "";
      position: absolute;
      background-position: center;
      background-size: cover;
      width: 32px;
      height: 32px;
      margin-top: 20px;
      left: 0;
      top: 0;
    }

    &__icon{

      &::after{
      background-image: url('../images/icon/alarn.svg');
      }
      &-web::after{
        background-image: url('../images/icon/line.svg');
      }
      &-tv::after{
        background-image: url('../images/icon/computer.svg');
      }
      &-seo::after{
        background-image: url('../images/icon/book.svg');
      }
      &-cs::after{
        background-image: url('../images/icon/home.svg');
      }
      &-dig::after{
        background-image: url('../images/icon/imeg.svg');
      }

    }

    @include between-flex($type: 'all'); 
    margin: 0;
    padding: 10px; 
    list-style: none;

    &__item{
       
      width: 33.333%;
      margin-top: 10px;
      margin-bottom: 90px;
      padding-left: 60px;
      padding-right: 40px;
      position: relative;
      text-align: left;
    }


    &__feat {
     text-transform: uppercase;
    }

    &__pe {
      font-family: "Roboto";
        font-weight: 300;
        font-size: 15px;
        color: $gray-lite;
    }
   }